@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@700&display=swap');

body {
  background-color: #faf8fb;
}

@media screen and (max-width: 992px) {
  body {
    background-color: #d4ade7;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-color: #b76bdd;
  }
}

header {
  background-color: #87da8a;
  padding: 5px;
  text-align: center;
  font-family: Geologica, sans-serif;
font-size: large;
}

h1 {
background-color: #87da8a;
padding: 0.5px;
}

aside {
  background-color: #87da8a;
  padding: 20px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.item {
  background-color: #87da8a;
  padding: 20px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.item:hover {
  background-color: #a9caaa;
  padding: 20px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.item h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.download-button {
  display: inline-block;
  background-color: #0e8540;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #229e6e;
}

footer {
  background-color: #87da8a;
  padding: 5px;
  text-align: center;
}
