.item2 {
  background-color: #87da8a;
  padding: 20px;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.item2:a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top:5px;

}

.item2:hover {
  background-color: #87da8a;
  padding: 20px;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.item2 h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}