@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@700&display=swap');


header {
  background-color: #c1d6b4;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-family: Fraunces, sans-serif;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ea;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #333;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.item {
  background-color: #d7e9cc;
  padding: 20px 20px;
  border-radius: 5px;
}

.item h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.download-button {
  display: inline-block;
  background-color: #84c1a9;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #5ca98c;
}

aside {
  background-color: #f2f2f2;
  padding: 20px;
  width: 200px;
}

aside ul {
  list-style-type: none;
  padding: 0;
}

aside ul li {
  margin-bottom: 10px;
}

aside ul li a {
  color: #333;
  text-decoration: none;
}

aside ul li a:hover {
  color: #000;
  font-weight: bold;
}

footer {
 background-color: #c1d6b4;
  color: #0e0a0a;
  padding: 20px;
  text-align: center;
}

.contact-info {
  margin-bottom: 20px;
}

.contact-info h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.contact-info p {
  font-size: 14px;
  margin-bottom: 5px;
}